* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu {
  background-color: #1b357e;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  gap: 30px;
}
.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.nav-menu a:hover {
  opacity: 0.7;
}

.img-menu {
  width: 100px;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: rgb(235, 235, 235); /* Fundo do container */
    min-height: 100vh;
    margin: 20px;
    border-radius: 50px;
}

/* Cabeçalho Azul */
.header-ford {
    background-color: #10336b; /* Azul Ford */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.logo {
    height: 40px;
}

.menu-icon {
    color: white;
    font-size: 22px;
}

/* Título */
.title {
    background-color: #10336b;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    width: 45%;
    font-weight: normal;
    font-size: 20px;
}

/* Estilo dos Inputs */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

input, textarea {
    width: 90%;
    background-color: #10336b;
    border: none;
    padding: 10px;
    color: white;
}

input::placeholder, textarea::placeholder {
    color: #ccc;
    font-size: 15px;
}

textarea {
    resize: none;
}

.nome, .sobrenome, .email, .assunto, .mensagem {
    width: 500px;
    margin: 10px;
}

.mensagem {
    height: 150px;
}

.botao {
    background-color: #10336b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

footer {
  background-color: #1b357e;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.footer-conteudo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 22px;
  transition: 0.3s;
}

.social-icons a:hover {
  opacity: 0.7;
}

footer p {
  color: #fff;
  margin-top: 10px;
}
